<main
  class="min-h-screen flex items-center justify-center
     text-lg relative bg-zinc-400">


  <section *ngIf="weatherData" class="flex flex-col h-[60vh] w-[400px] shadow-lg shadow-amber-500/50 bg-zinc-200 rounded-lg">

    <form #form="ngForm" (submit)="onSubmit()">
      <label class="block">
        <span class="block text-sm font-medium text-slate-700 text-center py-2">Search for a town</span>
        <!--        sa il leg de ts-->
        <input [(ngModel)]="cityName" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" name="city"
               placeholder="Viena"
               type="text"/>
        <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
          Please provide a valid town.
        </p>
      </label>
    </form>

    <article class="upper-data  bg-red-100 rounded-tl-lg rounded-tr-lg relative overflow-hidden">
      <img *ngIf="weatherData.main.temp>15" alt="cold weather" class="" src="../assets/hot-weather.jpg">
      <img *ngIf="weatherData.main.temp<=15" alt="hot weather" src="../assets/cold-weather.jpg">
      <h1
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-black">{{weatherData.name}}</h1>
      <h2
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 pt-12">{{weatherData.main.temp | number:"1.0-0"}}
        &#8451;
      </h2>
    </article>
    <article class="lower-data  ">
      <h2 class="text-center py-2">More info</h2>
      <div class="flex flex-wrap">
        <div class="flex  mx-auto py-2">
          <p class="w-full text-center">Min  : <span>{{weatherData.main.temp_min  | number:"1.0-0"}} &#8451;</span></p>
          <img alt="wind icon" class="mx-4" src="../assets/hot.svg">
        </div>
        <div class="flex  mx-auto py-2">
          <p class="w-full text-center">Max : <span>{{weatherData.main.temp_max  | number:"1.0-0"}}&#8451;</span></p>
          <img alt="wind icon" class="mx-4" src="../assets/cold.svg">
        </div>
        <div class="flex  mx-auto py-2">
          <p class="w-full text-center">Humidity : <span>{{weatherData.main.humidity}}</span></p>
          <img alt="wind icon" class="mx-4" src="../assets/humidity.svg">
        </div>
        <div class="flex  mx-auto py-2">
          <p class="w-full text-center">Wind : <span>{{weatherData.wind.speed}} km/h</span></p>
          <img alt="wind icon" class="mx-4" src="../assets/wind.svg">
        </div>
      </div>
    </article>
  </section>

</main>

<router-outlet></router-outlet>
